######################################
### Dillacorn super only i3 Config ###
######################################
# https://github.com/dillacorn/dotfiles

# font for window titles
font pango: JetBrain Mono 10

# disable_window_borders
default_border pixel 1

# set inner/outer gaps
gaps inner 10
gaps outer 10

# mod keys
set $mod1 Mod1
set $mod4 Mod4

# direction keys
set $left h
set $down j
set $up k
set $right l

# terminal
set $term alacritty

# lock screen
set $lock i3lock

# files GUI
set $files pcmanfm

# webcam popup
set $webcam mpv av://v4l1:/dev/video0 --profile=low-latency --untimed

# mpv force idle
set $mpv mpv --force-window idle

# run app | rofi | run/drun
set $run rofi -show run
set $drun rofi -show drun

# screenshot utilities
set $screenshot1 scrot -s ~/Pictures/screenshots/%Y-&m-%d-%H:%M:%S-%h
set $screenshot2 flameshot gui

# toggle mixture/super_only config+reload script
set $toggle ~/.config/i3/toggle.sh

####################
### Input/output ###
####################

exec --no-startup-id xrandr --output Virtual-1 --mode 1920x1080 --rate 60
exec_always feh --randomize --bg-scale ~/Pictures/wallpapers/*

###################
### Idle config ###
###################

exec --no-startup-id xautolock -corners -000 -time 10 -locker 'i3lock' -c 000000' &

#############
### Binds ###
#############

set $i3exit [L]OCK       LOG[O]UT       [S]USPEND       [R]EBOOT       [P]OWEROFF
bindsym mod4+ctrl+shift+p mode "$i3exit"
mode "$i3exit" {
    bindsym l mode "default", exec --no-startup-id ~/.config/i3/i3exit lock
    bindsym e mode "default", exec --no-startup-id ~/.config/i3/i3exit logout
    bindsym s mode "default", exec --no-startup-id ~/.config/i3/i3exit suspend
    bindsym h mode "default", exec --no-startup-id ~/.config/i3/i3exit hibernate
    bindsym r mode "default", exec --no-startup-id ~/.config/i3/i3exit reboot
    bindsym p mode "default", exec --no-startup-id ~/.config/i3/i3exit shutdown

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

# run app | rofi | run/drun
bindsym $mod4+p exec $drun
bindsym $mod4+shift+p exec $run

# screenshot
bindsym $mod4+shift+s exec $screenshot1
bindsym $mod4+ctrl+shift+s exec $screenshot2

# start a terminal
bindsym $mod4+shift+Return exec $term

# kill focused window
bindsym $mod4+shift+c kill

# i3lock | lock screen
bindsym $mod4+ctrl+shift+l exec $lock

# open file GUI
bindsym $mod4+e exec $files

# when the modifier key is held, hold left click to move window, right click to resize them
floating_modifier $mod1

# reload i3 config
bindsym $mod4+shift+q restart

# toggle mixture/super_only config+reload script
bindsym $mod4+shift+r exec $toggle

# change focused window
bindsym $mod1+$left focus left
bindsym $mod1+$down focus down
bindsym $mod1+$up focus up
bindsym $mod1+$right focus right
# or use $mod1+[up|down|left|right]
bindsym $mod1+Left focus left
bindsym $mod1+Down focus down
bindsym $mod1+Up focus up
bindsym $mod1+Right focus right

# move focused window
bindsym $mod1+shift+$left move left
bindsym $mod1+shift+$down move down
bindsym $mod1+shift+$up move up
bindsym $mod1+shift+$right move right
# alternative with arrow keys
bindsym $mod1+shift+Left move left
bindsym $mod1+shift+Down move down
bindsym $mod1+shift+Up move up
bindsym $mod1+shift+Right move right

###################
### workspaces: ###
###################

# define names for workspaces with some nice symbols
set $ws1 1 
set $ws2 2 
set $ws3 3 
set $ws4 4 
set $ws5 5 
set $ws6 6 
set $ws7 7 
set $ws8 8 
set $ws9 9 
set $ws0 10 

# switch to tag
bindsym $mod4+1 workspace $ws1
bindsym $mod4+2 workspace $ws2
bindsym $mod4+3 workspace $ws3
bindsym $mod4+4 workspace $ws4
bindsym $mod4+5 workspace $ws5
bindsym $mod4+6 workspace $ws6
bindsym $mod4+7 workspace $ws7
bindsym $mod4+8 workspace $ws8
bindsym $mod4+9 workspace $ws9
bindsym $mod4+0 workspace $ws0
# move focused window to tag
bindsym $mod4+shift+1 move container to workspace number $ws1
bindsym $mod4+shift+2 move container to workspace number $ws2
bindsym $mod4+shift+3 move container to workspace number $ws3
bindsym $mod4+shift+4 move container to workspace number $ws4
bindsym $mod4+shift+5 move container to workspace number $ws5
bindsym $mod4+shift+6 move container to workspace number $ws6
bindsym $mod4+shift+7 move container to workspace number $ws7
bindsym $mod4+shift+8 move container to workspace number $ws8
bindsym $mod4+shift+9 move container to workspace number $ws9
bindsym $mod4+shift+0 move container to workspace number $ws0

# current window focus fullscreen
bindsym $mod4+shift+f fullscreen

# toggle focused window tiling and/or floating
bindsym $mod4+f floating toggle

# toggle sticky window
bindsym $mod4+y sticky toggle

###################
### scratchpads ###
###################

bindsym $mod4+shift+x move scratchpad
bindsym $mod4+x scratchpad show

####################################
### focused resize / adjust gaps ###
####################################

# resize windows:
bindsym $mod1+ctrl+Right resize shrink width 100 px
bindsym $mod1+ctrl+Up resize grow height 50 px
bindsym $mod1+ctrl+Down resize shrink height 50 px
bindsym $mod1+ctrl+Left resize grow width 100 px
# same but vim keys
bindsym $mod1+ctrl+l resize shrink width 100 px
bindsym $mod1+ctrl+k resize grow height 50 px
bindsym $mod1+ctrl+j resize shrink height 50 px
bindsym $mod1+ctrl+h resize grow width 100 px

# adjust inner gaps
bindsym $mod1+ctrl+plus   gaps inner current plus 5
bindsym $mod1+ctrl+minus  gaps inner current minus 5
# adjust outer gaps
bindsym $mod1+ctrl+shift+plus   gaps outer current plus 5
bindsym $mod1+ctrl+shift+minus  gaps outer current minus 5 

################
### controls ###
################

# media keys
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume 0 +5% #increase sound volume
bindsym XF86AudioLowerVolume exec pactl set-sink-volume 0 -5% #decrease sound volume
bindsym XF86AudioMute exec pactl set-sink-mute 0 toggle # mute sound

# Brightness control
bindsym XF86MonBrightnessUp exec sh -c "brightnessctl set 5%+; ~/.config/sway/scripts/brightness-thing"
bindsym XF86MonBrightnessDown exec sh -c "brightnessctl set 5%-; ~/.config/sway/scripts/brightness-thing"

###################
### bar / theme ###
###################

# class                 border  bground text    indicator child_border
client.focused          #262626 #E4DBBD #E3DDBA #E4DBBD   #BFB293
client.focused_inactive #333333 #272727 #D79920 #484E50   #5F676A
client.unfocused        #333333 #222222 #888888 #292D2E   #222222
client.urgent           #2f343a #900000 #FFFFFF #900000   #900000
client.placeholder      #000000 #0C0C0C #FFFFFF #000000   #0C0C0C

client.background       #FFFFFF

bar {
status_command i3status -c ~/.config/i3/i3status.conf
position top
  colors {
    background #282828
    statusline #FFFFFF
    separator  #666666

    focused_workspace  #262626 #E4DBBD #282828
    active_workspace   #333333 #222222 #E3DDBA
    inactive_workspace #333333 #222222 #888888
    urgent_workspace   #2F343A #900000 #FFFFFF
    binding_mode       #2F343A #900000 #FFFFFF
  }
}
#################
### autostart ###
#################

exec lxpolkit
exec blueman-applet
exec nm-applet
exec_always --no-startup-id dunst